<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LibraryManagement</servlet-name>
  	<display-name>LibraryManagement</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.LibraryManagement</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AdminServlet</servlet-name>
  	<display-name>AdminServlet</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.AdminServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BooksServlet</servlet-name>
  	<display-name>BooksServlet</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.BooksServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookEdit</servlet-name>
  	<display-name>BookEdit</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.BookEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MembersServlet</servlet-name>
  	<display-name>MembersServlet</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.MembersServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberEdit</servlet-name>
  	<display-name>MemberEdit</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.MemberEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrowsServlet</servlet-name>
  	<display-name>BorrowsServlet</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.BorrowsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BorrowingEdit</servlet-name>
  	<display-name>BorrowingEdit</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.BorrowingEdit</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserServlet</servlet-name>
  	<display-name>UserServlet</display-name>
  	<description></description>
  	<servlet-class>com.LibraryManagement.Controller.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LibraryManagement</servlet-name>
  	<url-pattern>/LibraryManagement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminServlet</servlet-name>
  	<url-pattern>/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BooksServlet</servlet-name>
  	<url-pattern>/BooksServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookEdit</servlet-name>
  	<url-pattern>/BookEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MembersServlet</servlet-name>
  	<url-pattern>/MembersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberEdit</servlet-name>
  	<url-pattern>/MemberEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrowsServlet</servlet-name>
  	<url-pattern>/BorrowsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BorrowingEdit</servlet-name>
  	<url-pattern>/BorrowingEdit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserServlet</servlet-name>
  	<url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
</web-app>
